---
type IAvatarSize = "small" | "medium" | "large";
type IAvatarShape = "circle" | "square" | "rounded";
interface Props {
    src?: string;
    alt?: string;
    size?: IAvatarSize;
    shape?: IAvatarShape;
    fallback?: string;
}
const {src, alt = "Avatar", size = 'medium', shape = 'rounded', fallback} = Astro.props;

const sizeClass = {
    small: "size-8",
    medium: "size-16",
    large: "size-24",
}[size];

const shapeClass = {
    circle: "rounded-full",
    square: "rounded-none",
    rounded: "rounded-md"
}[shape];

const avatarClass = `${sizeClass} ${shapeClass} object-cover`;
---

<div class="avatar-container">
    <img class={avatarClass} src={src} alt={alt} onerror="this.style.display='none'; this.nextElementSibling.style.display='block'" />
    <span class="avatar-fallback" style="display: none">{fallback}</span>
</div>
